
/*.logo img {
  width: 74%;
  padding-top: 41vh;
  padding-left: 14vh;
}*/
.logoWhite {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo1 {
  background-image: url(../img/lyft-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
.lyftlife {
  width: 100%;
}
/*
.log-in, .sign-up {
  padding: 3vh 5.5vh;
  border-radius: 4px;
  margin-bottom: 2%;
}*/

.btns .btn {
  background-color: transparent;
  color: #FF00BE;
  border: 1px solid #FF00BE;
  padding: 3vh 5.5vh;
  border-radius: 5px;
  margin-bottom: 1%;
}