.logo {
	background: rgba(128,2,98,1);
background: -moz-linear-gradient(-45deg, rgba(128,2,98,1) 28%, rgba(128,2,98,1) 34%, rgba(229,13,157,1) 96%, rgba(235,14,161,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(28%, rgba(128,2,98,1)), color-stop(34%, rgba(128,2,98,1)), color-stop(96%, rgba(229,13,157,1)), color-stop(100%, rgba(235,14,161,1)));
background: -webkit-linear-gradient(-45deg, rgba(128,2,98,1) 28%, rgba(128,2,98,1) 34%, rgba(229,13,157,1) 96%, rgba(235,14,161,1) 100%);
background: -o-linear-gradient(-45deg, rgba(128,2,98,1) 28%, rgba(128,2,98,1) 34%, rgba(229,13,157,1) 96%, rgba(235,14,161,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(128,2,98,1) 28%, rgba(128,2,98,1) 34%, rgba(229,13,157,1) 96%, rgba(235,14,161,1) 100%);
background: linear-gradient(135deg, rgba(128,2,98,1) 28%, rgba(128,2,98,1) 34%, rgba(229,13,157,1) 96%, rgba(235,14,161,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800262', endColorstr='#eb0ea1', GradientType=1 );
}
.logo img {

}