* {
  margin: 0;
  padding: 0;
  font-family: 'Imprima', sans-serif;
}
/*.logo img {
  width: 74%;
  padding-top: 41vh;
  padding-left: 14vh;
}*/
.logoWhite {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.first {
  background-image: url(../img/lyft-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
.lyftlife {
  width: 100%;
}

/* estilos de botones principales */
.btns .btn {
  background-color: transparent;
  color: #FF00BE;
  border: 1px solid #FF00BE;
  padding: 3vh 5.5vh;
  border-radius: 5px;
  margin-bottom: 1%;
}
/* estilos generales de contenedor */
.second {
  text-align: center;
}
.second h3 {
  margin-right: 3em;
}
/* estilo de icono previo */
.iconPrev {
  margin-top: 2.1rem;
  /*font-size: 1.7em;*/
}
/* estilos de join now */
.parrafo1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
/*estilo de input */
.fono {
  height: 8vh;
}
/*/* estilo de boton next */
.btn-next {
  width: 70%;
  background-color: #FF3E80;
  color: #fff;
}
.disabled {
  width: 70%;
  background-color: #ccc;
  color: black;
}*/